/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	display: none;
}
:root,
html,
body {
	height: 100%;
}

.light :root {
	--foreground-rgb: 0, 0, 0;
	--background: 214, 219, 220;
}

.dark :root {
	--foreground-rgb: 255, 255, 255;
	--background: 0, 0, 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: var(--background-start-rgb);
}
